<div class="d-flex flex-column">
  <div class="profile-container">
    <div class="d-flex flex-column justify-content-evenly gap-5">
      <h2>Account Profile</h2>
      <div class="black-line"></div>
      <p>Please review your information below and add any missing information.</p>
    </div>
    <div class="d-flex justify-content-end">
      <p style="color: black; opacity: 0.6;">* denotes required field</p>
    </div>
    <h4>PROFILE</h4>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name, 'First Name' %><br />
        <%= f.text_field :first_name, placeholder: 'Enter your first name' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :second_name, 'Second Name' %><br />
        <%= f.text_field :second_name, placeholder: 'Enter your second name' %>
      </div>
      <br>
      <div class="field">
        <%= f.label :email, 'Email' %><br />
        <%= f.text_field :email, placeholder: 'Enter your email' %>
      </div>
      <br>
      <h1>RESET PASSWORD</h1>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <h1>BIRTHDAY</h1>
      <div class="field">
        <div class="dob-fields">
          <%= f.date_select :d_o_b, { order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } }, class: 'dob-select' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

    <%= link_to "Back", :back %>
  </div>
</div>
