<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid" >
    <div class="nav-container d-flex justify-content-between">
      <div class="options">
        <%= link_to("shop", candles_path, class: "btn navbar-options-text navbar-text") %>
        <%= link_to("home", root_path, class: "btn navbar-options-text navbar-text") %>
        <%= link_to("journal", light_editions_path, class: "btn navbar-options-text navbar-text") %>
        <%= link_to("about", dark_editions_path, class: "btn navbar-options-text navbar-text") %>
      </div>
      <div class="nav-icons nav-options">
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <%= link_to("shop", candles_path, class: "btn navbar-options-text navbar-text") %>
          <%= link_to("home", root_path, class: "btn navbar-options-text navbar-text") %>
          <%= link_to("journal", light_editions_path, class: "btn navbar-options-text navbar-text") %>
          <%= link_to("about", dark_editions_path, class: "btn navbar-options-text navbar-text") %>
        </div>
        <div id="main">
          <button class="openbtn" onclick="openNav()">&#9776;</button>
        </div>
        <script>
          function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.querySelector(".openbtn").style.opacity = "0";
            document.querySelector(".alerts").style.opacity = "0";
          }

          function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.querySelector(".openbtn").style.opacity = "1";
            document.querySelector(".alerts").style.opacity = "1";
          }
        </script>
      </div>
    </div>
    <div>
      <div class="d-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <%# <span class="navbar-toggler-icon"></span> %>
          <i class="fa-regular fa-user" style="color: black;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-user" style="color: black;"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if user_signed_in? %>
                  <li><%= link_to "Profile", user_path(@user || current_user), class: "dropdown-item" %></li>
                  <li><%= link_to "Orders", "#", class: "dropdown-item" %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
                <% else %>
                  <li><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="basket-profile">
        <%= link_to @cart do %>
          <i class="fa-solid fa-basket-shopping" style="color: black;"></i>
          <% total_quantity = @line_items.sum(&:quantity) %>
          <% if total_quantity > 0 %>
            <span class="badge item-count"><%= total_quantity %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
