<header class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
      <div class="nav-container d-flex justify-content-between">
        <div class="options d-flex justify-content-between gap">
          <%= link_to("shop", candles_path, class: "btn navbar-fixed-color navbar-options-text navbar-text") %>
          <%= link_to("home", root_path, class: "btn navbar-fixed-color navbar-options-text navbar-text") %>
          <%= link_to("journal", light_editions_path, class: "btn navbar-fixed-color navbar-options-text navbar-text") %>
          <%= link_to("about", dark_editions_path, class: "btn navbar-fixed-color navbar-options-text navbar-text") %>
        </div>
        <div class="nav-icons nav-options">
          <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <%= link_to("shop", candles_path, class: "btn navbar-options-text navbar-text") %>
            <%= link_to("home", root_path, class: "btn navbar-options-text navbar-text") %>
            <%= link_to("journal", light_editions_path, class: "btn navbar-options-text navbar-text") %>
            <%= link_to("about", dark_editions_path, class: "btn navbar-options-text navbar-text") %>
          </div>
          <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>
          <script>
            function openNav() {
              document.getElementById("mySidebar").style.width = "250px";
              document.getElementById("main").style.marginLeft = "250px";
              document.querySelector(".openbtn").style.opacity = "0";
              document.querySelector(".alerts").style.opacity = "0";
            }

            function closeNav() {
              document.getElementById("mySidebar").style.width = "0";
              document.getElementById("main").style.marginLeft = "0";
              document.querySelector(".openbtn").style.opacity = "1";
              document.querySelector(".alerts").style.opacity = "1";
            }
          </script>
        </div>
      </div>
    </div>
    <div class="flex-grow-1 d-flex justify-content-end align-items-baseline position-profile-basket">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-regular fa-user navbar-icon navbar-fixed-icon"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if user_signed_in? %>
            <a><%= link_to "Profile", user_path(@user || current_user), class: "dropdown-item" %></a>
            <a><%= link_to "Orders", "#", class: "dropdown-item" %></a>
            <div class="dropdown-divider"></div>
            <a><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></a>
          <% else %>
            <a><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></a>
            <a><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></a>
          <% end %>
        </div>
      </div>
      <div class="basket-profile">
        <%= link_to @cart do %>
          <i class="fa-solid fa-basket-shopping navbar-icon navbar-fixed-icon"></i>
          <% total_quantity = @line_items.sum(&:quantity) %>
          <% if total_quantity > 0 %>
            <span class="badge item-count"><%= total_quantity %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
