<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Protect Your Energy", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <li><%= link_to "Profile", user_path(@user || current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Orders", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Wishlist", "#", class: "dropdown-item" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path, class: "dropdown-item" %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
    <%= link_to @cart do %>
      <i class="fa-solid fa-basket-shopping"></i>
      <% total_quantity = @line_items.sum(&:quantity) %>
      <% if total_quantity > 0 %>
        <span class="badge"><%= total_quantity %></span>
      <% end %>
    <% end %>
  </div>
</nav>
