<div style="background-color: black;" class="black-div">
  <div class="">
    <div id="productSlider">
      <% candles = @candles_candle_shop.shuffle %>
      <% candles.each do |candle| %>
        <div class="product-item">
          <%= link_to(candle) do %>
            <div class="card products text-center" style="color:white; font-weight:300;">
              <% first_image = candle.images.first %>
              <%= image_tag(first_image.url, class: "image-container d-block", alt: "Candle Image") if first_image %>
              <div class="card-body d-flex flex-column justify-content-evenly">
                <h3 class="card-title"><%= candle.name %></h3>
                <p class=""><%= candle.scent %><br><%= candle.size %></p>
                <strong><%= number_to_currency(candle.price, unit: '£') %></strong><br>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('#productSlider').slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        swipeToSlide: true,
        prevArrow: '<button type="button" style="transform: rotateY(190deg); "class="slick-prev"></button>',
        nextArrow: '<button type="button" style="" class="slick-next"></button>',
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              centerMode: false,
              variableWidth: false
            }
          }
        ]
      });
    });
  </script>
</div>
