<h1>Protect Your Energy</h1>
<%= link_to("Shop All", candles_path, class: "btn") %>
<%= link_to("Shop Light", "editions/light", class: "btn") %>
<%= link_to("Shop Dark", "editions/dark", class: "btn") %>
<%= link_to("Sign Up", new_user_registration_path, class: "btn") %>
<%= link_to("Log In", new_user_session_path, class: "btn") %>
