<div>
  <div class="main-landing-image">
    <%= image_tag("cloud_background.png", alt: "Candles", class:"w-100 main-image") %>
    <div class="container description-container">
      <div class="card description-card">
        <div class="card-body description-card-body">
          <h1 class="shop-collection">SHOP OUR COLLECTION</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="candles-container">
    <div class="d-flex align-items-center flex-column welcome-message text-center p-5">
      <h1>Welcome to our shop</h1>
      <p>Browse our unique and vibrant scents that are sure to spark joy into your day and space.</p>
      <br>
    </div>
    <div class="container">
      <div class="row">
        <% @candles.each_slice(4) do |candles_row| %>
          <% candles_row.each do |candle| %>
            <div class="col-md-3">
              <%= link_to(candle) do %>
                <div class="card d-flex align-items-center text-center gap-1 pb-5">
                  <% first_image = candle.images.first %>
                  <%= image_tag(first_image.url, class: "collection-image", alt: "Candle Image") if first_image %>
                  <h3 class="card-title"><%= candle.name %></h3>
                  <p class="font"><%= candle.scent %> <%= candle.size %></p>
                  <strong class="font"><%= number_to_currency(candle.price, unit: '£') %></strong>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <div class="container container-candles">
</div>
<%= render 'shared/footer' %>
