<div class="gradient candle-show-page">
  <%# <%= link_to "Back", :back %>
  <div class="media-flex-wrap d-flex align-items-center">
    <%# <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner"> %>
          <div id="candle-image-container">
            <%= image_tag(@candle.images.first.url, class: "candle-image d-block", alt: "Candle Image") %>
          </div>
          <%# <script>
            document.addEventListener("DOMContentLoaded", function() {
              var img = document.getElementById('candle-image');
              var vibrant = new Vibrant(img);

              var swatches = vibrant.swatches();
              var gradientColors = [
                swatches.Vibrant.getHex(),
                swatches.DarkVibrant.getHex(),
                swatches.LightVibrant.getHex()
              ];

              var gradientString = "linear-gradient(to right, " + gradientColors.join(", ") + ")";

              document.querySelector('.candle-show-page').style.backgroundImage = gradientString;
            });
          </script> %>
      <%# </div> %>
      <%# <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div> %>
    <div class="d-flex candle-show">
      <div>
        <h1 class="light-shine"><%= @candle.name %></h1>
        <p class="price"><%= number_to_currency(@candle.price, unit: '£')%></p>
      </div>
      <div>
        <p class="description"><%= @candle.description %></p>
        <p class="description">Hand poured on: <%= @candle.date_made %></p>
        <div class="d-flex flex-column justify-content-between">
          <%# <%= image_tag(@candle.images.first.url, class: "size-image carousel-item d-block", alt: "Candle Image") %>
          <p class="description" style="padding-top: 1rem; text-decoration: underline;  text-underline-offset: 10px;"><%= @candle.size %></p>
        </div>
      </div>
      <%= button_to "Add to bag", line_items_path(candle_id: @candle), method: :post, class: "button flex-item", remote: true %>
    </div>
  </div>
  <div class="product-slider-container">
    <h1 class="text-center light-shine pd-top-5">You may also like</h1>
    <div id="productSlider">
      <% other_candles = @candles.where(edition: @candle.edition).where.not(id: @candle) %>
      <% other_candles.each do |candle| %>
        <div class="product-item">
          <%= link_to(candle) do %>
          <div class="card d-flex align-items-center text-center">
            <% first_image = candle.images.first %>
            <%= image_tag(first_image.url, class: "slider-image", alt: "Candle Image") if first_image %>
            <h3 class="card-title"><%= candle.name %></h3>
            <p class="font"><%= candle.scent %> <%= candle.size %></p>
            <strong class="font"><%= number_to_currency(candle.price, unit: '£') %></strong>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
