<% if @order %>
  <div class="payments-show-page">
    <div class=" d-flex flex-column justify-content-center align-items-center">
      <%= image_tag("thankyou.png", class: "thankyou-image") %>
      <div class="order-confirmation-message">
        <h2>ORDER CONFIRMATION</h2><br>
        <% if @user.present? %>
          <p>Thank you <%= @user.first_name.capitalize %> for shopping with us. Sit tight, we are preparing your order for shipment. You will be notified when it is on its way to you.</p>
        <% else %>
          <p>Thank you for shopping with us. Sit tight, we are preparing your order for shipment. <br>You will be notified when it is on its way to you.</p>
        <% end %>
      </div>
    </div>
    <p class="order-details">Order number: <%= @order.id.to_i %> <b>|</b> Date: <%= @order.created_at.strftime("%B %d, %Y %I:%M %p") %></p>
    <div class="d-flex flex-column gap-5">
      <% @order.line_items.each do |line_item| %>
        <% candle = line_item.candle %>
        <% images = candle.images.first %>
        <div class="card gap-3 first-card flex-row order-cards">
          <div class="payments-line-item-image">
            <%= image_tag(images.url, class: "card-img-left order-confirmation-image d-block", alt: "Candle Image") %>
          </div>
          <div class="card-body ">
            <h2 class="card-title"><%= line_item.quantity %> x <%= candle.name %> <%= candle.size %></h2>
            <p class="card-text summary-totals"><%= candle.scent %></p>
            <p class="card-text"><%= number_to_currency(line_item.total, unit: '£') %></p>
          </div>
        </div>
      <% end %>
    </div><br>
    <p class="order-total">TOTAL: <%= number_to_currency(@order.total_amount, unit: '£') %></p>
  </div>
<% else %>
  not worked
<% end %>
